#Unique Coinbase addresses

ZONE_0_0_COINBASE=0x04a3e45aa16163F2663015b6695894D918866d19
ZONE_0_1_COINBASE=0x21c7650E65b164B2ab645eAF1141b569B2c82Bd7
ZONE_0_2_COINBASE=0x3e742F0AE63d62304153526A51EE8BF0531d1887
ZONE_1_0_COINBASE=0x72c871f639ed156De0b97C1b533e2617730b7ec2
ZONE_1_1_COINBASE=0x755c3603c5688CF3105F1a1AfC11fa0e1981b03B
ZONE_1_2_COINBASE=0x9fF7B1A33BB22b70F5fb78A420CEd9075C437c87
ZONE_2_0_COINBASE=0xb8094B2bc411942fd078D994Cc4e9418D6A5B071
ZONE_2_1_COINBASE=0xC83cb918dd9267a344B51f57e28e8cf977057E05
ZONE_2_2_COINBASE=0xF39E7d05B5A1a2F934cC43221383f29e4794c822


#Ports (TCP/UCP, HTTP, WS)

PRIME_PORT_TCP=30303
PRIME_PORT_HTTP=8546
PRIME_PORT_WS=8547
REGION_0_PORT_TCP=30304
REGION_0_PORT_HTTP=8578
REGION_0_PORT_WS=8579
REGION_1_PORT_TCP=30305
REGION_1_PORT_HTTP=8580
REGION_1_PORT_WS=8581
REGION_2_PORT_TCP=30306
REGION_2_PORT_HTTP=8582
REGION_2_PORT_WS=8583
ZONE_0_0_PORT_TCP=30307
ZONE_0_0_PORT_HTTP=8610
ZONE_0_0_PORT_WS=8611
ZONE_0_1_PORT_TCP=30308
ZONE_0_1_PORT_HTTP=8542
ZONE_0_1_PORT_WS=8643
ZONE_0_2_PORT_TCP=30309
ZONE_0_2_PORT_HTTP=8674
ZONE_0_2_PORT_WS=8675
ZONE_1_0_PORT_TCP=30310
ZONE_1_0_PORT_HTTP=8512
ZONE_1_0_PORT_WS=8613
ZONE_1_1_PORT_TCP=30311
ZONE_1_1_PORT_HTTP=8544
ZONE_1_1_PORT_WS=8645
ZONE_1_2_PORT_TCP=30312
ZONE_1_2_PORT_HTTP=8576
ZONE_1_2_PORT_WS=8677
ZONE_2_0_PORT_TCP=30313
ZONE_2_0_PORT_HTTP=8614
ZONE_2_0_PORT_WS=8615
ZONE_2_1_PORT_TCP=30314
ZONE_2_1_PORT_HTTP=8646
ZONE_2_1_PORT_WS=8647
ZONE_2_2_PORT_TCP=30315
ZONE_2_2_PORT_HTTP=8678
ZONE_2_2_PORT_WS=8679

# Dom websocket urls
REGION_0_DOM_URL=ws://127.0.0.1
REGION_1_DOM_URL=ws://127.0.0.1
REGION_2_DOM_URL=ws://127.0.0.1
ZONE_0_0_DOM_URL=ws://127.0.0.1
ZONE_0_1_DOM_URL=ws://127.0.0.1
ZONE_0_2_DOM_URL=ws://127.0.0.1
ZONE_1_0_DOM_URL=ws://127.0.0.1
ZONE_1_1_DOM_URL=ws://127.0.0.1
ZONE_1_2_DOM_URL=ws://127.0.0.1
ZONE_2_0_DOM_URL=ws://127.0.0.1
ZONE_2_1_DOM_URL=ws://127.0.0.1
ZONE_2_2_DOM_URL=ws://127.0.0.1

# Sub websocket urls
PRIME_SUB_URLS=ws://127.0.0.1:8579,ws://127.0.0.1:8581,ws://127.0.0.1:8583
REGION_0_SUB_URLS=ws://127.0.0.1:8611,ws://127.0.0.1:8643,ws://127.0.0.1:8675
REGION_1_SUB_URLS=ws://127.0.0.1:8613,ws://127.0.0.1:8645,ws://127.0.0.1:8677
REGION_2_SUB_URLS=ws://127.0.0.1:8615,ws://127.0.0.1:8647,ws://127.0.0.1:8679

# Slices that are running
SLICES="[0 0],[0 1],[0 2],[1 0],[1 1],[1 2],[2 0],[2 1],[2 2]"

#Boolean Variable Definition
#Enables or disables http porting
#Enables or disables websocket porting
ENABLE_HTTP=true
ENABLE_WS=true
ENABLE_UNLOCK=false
ENABLE_ARCHIVE=false

#Input Variable Definition
#http.addr options include 0.0.0.0 and 127.0.0.1 (local host)
#ws.addr options include 0.0.0.0 and 127.0.0.1 (local host)
#ws.api options include any blockchain compatible api

# WARNING: Only allow websocket connections (i.e. WS_ADDR) from a trusted
# network. At time of writing, no transport security is implemented, but this is
# a trusted communication channel.
HTTP_ADDR=localhost
WS_ADDR=localhost
WS_API=eth,quai
HTTP_API=quai

#Networking Variables
#Options include colosseum and garden 
NETWORK=colosseum
NONCE=5926993 #Change this along with network
MAX_PEERS=50
ENABLE_NAT=false
# EXT_IP=Optional, enable if you have port forwarding

#Mining Variables
QUAI_MINING=true

#Bootnode Specific Variables
#Should only be used by bootnode operators, i.e. team developers
HTTP_CORSDOMAIN="*"
WS_ORIG="*"
BOOTNODE=false
CORS=false

# Verbosity variable
VERBOSITY=4

# Syncmode variable
SYNCMODE=full
NO_DISCOVER=false

# Stats information
QUAI_STATS=false
STATS_NAME=
STATS_PASS=
STATS_HOST=

# Output format variables
SHOW_COLORS=true
RUN_BLAKE3=false
DB_ENGINE=leveldb

# Optional set database directory
CUSTOM_DATA_DIR=false
DATA_DIR=