include network_configs/ports.env
include network_configs/urls.env
include network_configs/addresses.env

# Slices that are running
SLICES="[0 0],[0 1],[0 2],[0 3],[1 0],[1 1],[1 2],[1 3],[2 0],[2 1],[2 2],[2 3],[3 0],[3 1],[3 2],[3 3]"
WIDTH=4

#Boolean Variable Definition
#Enables or disables http porting
#Enables or disables websocket porting
ENABLE_HTTP=true
ENABLE_WS=true
ENABLE_UNLOCK=false
ENABLE_ARCHIVE=false

#Input Variable Definition
#Network Options include colosseum and garden 
#http.addr options include 0.0.0.0 and 127.0.0.1 (local host)
#ws.addr options include 0.0.0.0 and 127.0.0.1 (local host)
#ws.api options include any blockchain compatible api

# WARNING: Only allow websocket connections (i.e. WS_ADDR) from a trusted
# network. At time of writing, no transport security is implemented, but this is
# a trusted communication channel.
NETWORK=colosseum
NONCE=5926993 #Change this along with network
HTTP_ADDR=localhost
WS_ADDR=localhost
WS_API=eth,quai
HTTP_API=quai

#Mining Variables
QUAI_MINING=true

#Bootnode Specific Variables
#Should only be used by bootnode operators, i.e. team developers
HTTP_CORSDOMAIN="*"
WS_ORIG="*"
BOOTNODE=false
CORS=false

# Verbosity variable
VERBOSITY=4

# Syncmode variable
SYNCMODE=full
NO_DISCOVER=false

# Stats information
QUAI_STATS=false
STATS_NAME=
STATS_PASS=
STATS_HOST=

# Output format variables
SHOW_COLORS=true
RUN_BLAKE3=false
DB_ENGINE=leveldb
ENABLE_NAT=false
# EXT_IP=Optional, enable if you have port forwarding
