#Choose slice to run if running run-slice, allowed values are 1-9
SLICE_NUM=1

#Network Stats Information
STATS_NAME=
STATS_PASS=
PRIME_STATS_HOST=prime.quaistats.info
REGION_1_STATS_HOST=cyprus.quaistats.info
REGION_2_STATS_HOST=paxos.quaistats.info
REGION_3_STATS_HOST=hydra.quaistats.info
ZONE_1_1_STATS_HOST=cyprus1.quaistats.info
ZONE_1_2_STATS_HOST=cyprus2.quaistats.info
ZONE_1_3_STATS_HOST=cyprus3.quaistats.info
ZONE_2_1_STATS_HOST=paxos1.quaistats.info
ZONE_2_2_STATS_HOST=paxos2.quaistats.info
ZONE_2_3_STATS_HOST=paxos3.quaistats.info
ZONE_3_1_STATS_HOST=hydra1.quaistats.info
ZONE_3_2_STATS_HOST=hydra2.quaistats.info
ZONE_3_3_STATS_HOST=hydra3.quaistats.info

#Unique Coinbase addresses

PRIME_COINBASE=0x0767d31b0d7671c3e97c6abed055a26fb59b4149
REGION_1_COINBASE=0x11a03db52d12201e614466cb98ec5d49a1205bda
REGION_2_COINBASE=0x3bcec1847c55246cf9ea32a5dfe652f147ac091c
REGION_3_COINBASE=0x5e6b0261c32b25f187786612d27a39f6d0c31771
ZONE_1_1_COINBASE=0x1a6ad97c8f06c7ae79fea47e43a8c048da5b1f7d
ZONE_1_2_COINBASE=0x186da447ec1dd29cdec8cca5653ccc4fd8f9e5e3
ZONE_1_3_COINBASE=0x2ab56840530b1c395ecf91e5923446fa696c7933
ZONE_2_1_COINBASE=0x454f47e9da39a4d2cff17d7ca50757576a298fb2
ZONE_2_2_COINBASE=0x4c190ab6136e94b3b510172784a4fed22f566622
ZONE_2_3_COINBASE=0x5446d13d4907630425928fceb67ca35a6bf1bb0e
ZONE_3_1_COINBASE=0x677c5623aabeb5d6d978cc2ec11ac5297a8afcbd
ZONE_3_2_COINBASE=0x7717ddddd08eacc0bb981c47348d1ec3a99566f8
ZONE_3_3_COINBASE=0x8169c0a78e20ee6e5c53cc18ee2f4eb3f762ee05



#Ports (TCP/UCP, HTTP, WS)

PRIME_PORT_TCP=30303
PRIME_PORT_HTTP=8546
PRIME_PORT_WS=8547
REGION_1_PORT_TCP=30304
REGION_1_PORT_HTTP=8578
REGION_1_PORT_WS=8579
REGION_2_PORT_TCP=30305
REGION_2_PORT_HTTP=8580
REGION_2_PORT_WS=8581
REGION_3_PORT_TCP=30306
REGION_3_PORT_HTTP=8582
REGION_3_PORT_WS=8583
ZONE_1_1_PORT_TCP = 30307
ZONE_1_1_PORT_HTTP=8610
ZONE_1_1_PORT_WS=8611
ZONE_1_2_PORT_TCP = 30308
ZONE_1_2_PORT_HTTP=8542
ZONE_1_2_PORT_WS=8643
ZONE_1_3_PORT_TCP = 30309
ZONE_1_3_PORT_HTTP=8674
ZONE_1_3_PORT_WS=8675
ZONE_2_1_PORT_TCP = 30310
ZONE_2_1_PORT_HTTP=8512
ZONE_2_1_PORT_WS=8613
ZONE_2_2_PORT_TCP = 30311
ZONE_2_2_PORT_HTTP=8544
ZONE_2_2_PORT_WS=8645
ZONE_2_3_PORT_TCP = 30312
ZONE_2_3_PORT_HTTP=8576
ZONE_2_3_PORT_WS=8677
ZONE_3_1_PORT_TCP = 30313
ZONE_3_1_PORT_HTTP=8614
ZONE_3_1_PORT_WS=8615
ZONE_3_2_PORT_TCP = 30314
ZONE_3_2_PORT_HTTP=8646
ZONE_3_2_PORT_WS=8647
ZONE_3_3_PORT_TCP = 30315
ZONE_3_3_PORT_HTTP=8678
ZONE_3_3_PORT_WS=8679

#Boolean Variable Definition
#Enables or disables http porting
#Enables or disables websocket porting
ENABLE_HTTP=true
ENABLE_WS=true
ENABLE_UNLOCK=false
ENABLE_ARCHIVE=false

#Input Variable Definition
#Network Options include mainnet, testnet, and rospten 
#http.addr options include 0.0.0.0 and 127.0.0.1 (local host)
#ws.addr options include 0.0.0.0 and 127.0.0.1 (local host)
#ws.api options include any blockchain compatible api

NETWORK=mainnet
HTTP_ADDR=0.0.0.0
WS_ADDR=0.0.0.0
WS_API=eth,net,web3,quai
HTTP_API=eth,net,web3

#Mining Variables
QUAI_MINING=true

#Number of CPU threads
THREADS=1

#Bootnode Specific Variables
#Should only be used by bootnode operators, i.e. team developers
HTTP_CORSDOMAIN="*"
WS_ORIG="*"
BOOTNODE=false
CORS=false