goQuai:
  image:
    name: quainetwork/go-quai
    version: v0.20.0-pre.0
  env: quai-dev
  replicas: 1
  network: garden
  slices: '[0 0],[0 1],[0 2],[1 0],[1 1],[1 2],[2 0],[2 1],[2 2]'
  verbosity: 4
  chains:
    - name: prime
      ports:
        http: "8546"
        ws: "8547"
        disc: "30303"
      region: ""
      zone: ""
      sub: ws://127.0.0.1:8579,ws://127.0.0.1:8581,ws://127.0.0.1:8583
      dom: ""
    - name: cyprus
      ports:
        http: "8578"
        ws: "8579"
        disc: "30304"
      region: 0
      zone: ""
      sub: ws://127.0.0.1:8611,ws://127.0.0.1:8643,ws://127.0.0.1:8675
      dom: ws://127.0.0.1:8547
    - name: paxos
      ports:
        http: "8580"
        ws: "8581"
        disc: "30305"
      region: 1
      zone: ""
      sub: ws://127.0.0.1:8613,ws://127.0.0.1:8645,ws://127.0.0.1:8677
      dom: ws://127.0.0.1:8547
    - name: hydra
      ports:
        http: "8582"
        ws: "8583"
        disc: "30306"
      region: 2
      zone: ""
      sub: ws://127.0.0.1:8615,ws://127.0.0.1:8647,ws://127.0.0.1:8679
      dom: ws://127.0.0.1:8547
    - name: cyprus1
      ports:
        http: "8610"
        ws: "8611"
        disc: "30307"
      region: 0
      zone: 0
      sub: ""
      dom: ws://127.0.0.1:8579
    - name: cyprus2
      ports:
        http: "8542"
        ws: "8643"
        disc: "30308"
      region: 0
      zone: 1
      sub: ""
      dom: ws://127.0.0.1:8579
    - name: cyprus3
      ports:
        http: "8674"
        ws: "8675"
        disc: "30309"
      region: 0
      zone: 2
      sub: ""
      dom: ws://127.0.0.1:8579
    - name: paxos1
      ports:
        http: "8512"
        ws: "8613"
        disc: "30310"
      region: 1
      zone: 0
      sub: ""
      dom: ws://127.0.0.1:8581
    - name: paxos2
      ports:
        http: "8544"
        ws: "8645"
        disc: "30311"
      region: 1
      zone: 1
      sub: ""
      dom: ws://127.0.0.1:8581
    - name: paxos3
      ports:
        http: "8576"
        ws: "8677"
        disc: "30312"
      region: 1
      zone: 2
      sub: ""
      dom: ws://127.0.0.1:8581
    - name: hydra1
      ports:
        http: "8614"
        ws: "8615"
        disc: "30313"
      region: 2
      zone: 0
      sub: ""
      dom: ws://127.0.0.1:8583
    - name: hydra2
      ports:
        http: "8646"
        ws: "8647"
        disc: "30314"
      region: 2
      zone: 1
      sub: ""
      dom: ws://127.0.0.1:8583
    - name: hydra3
      ports:
        http: "8678"
        ws: "8679"
        disc: "30315"
      region: 2
      zone: 2
      sub: ""
      dom: ws://127.0.0.1:8583
